<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:insert="fragments/head :: head">

</head>

<style>
body {
	background-color: #58595b;
}

.center {
	text-align: center;
}
</style>
<body>
	<header th:user="userprofile">
		<div th:insert="fragments/minimalheader :: profileheader"></div>
		<div class="container-lg g-0">
			<img class="w-100 pfpImageBG"
				style="min-height: 300px; height: auto; max-height: 300px; object-fit: cover; object-position: 50% 60%; filter: blur(1px);">
			<div class="mx-auto pt-5 pb-3">
				<div class="d-flex justify-content-center"
					style="position: relative">
					<div style="position: absolute; transform: translateY(-100%);">
						<img style="width: 150px; height: 150px;"
							class="pfpImage figure-img rounded-circle border border-5" />
						<div style="position: absolute; left: 70%; top: 70%;">
							<div class="rounded-circle border border-5"
								style="border-color: black; width: 35px; height: 35px; background-color: #91ff41;"></div>
						</div>
					</div>
					<div class="py-2">
						<h2 class="text-center mb-0"></h2>
						<h6 class="text-center text-muted"></h6>
					</div>
				</div>
			</div>
		</div>
		<div class="container-lg" style="position: relative;">
			<div class="row g-3">
				<div class="col-sm-12 col-md-6">
					<div class="shadow p-3">
						<div id="accordion">
							<div class="card bgd" style="background-color: #69696c;">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" data-toggle="collapse"
											data-target="#collapseOne" aria-expanded="false"
											aria-controls="collapseOne">View Account & Routing
											number</button>
									</h5>
								</div>

								<div id="collapseOne" class="collapse "
									aria-labelledby="headingOne" data-parent="#accordion">
									<div class="row g-3">
										<div class="col-sm-6">
											<div class="card" style="background-color: #69696c;">
												<div class="card-body">
													<h5 class="card-title">119-445-2229</h5>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="card" style="background-color: #69696c;">
												<div class="card-body">
													<h5 class="card-title">12002003</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="shadow p-3">
						<div class="card" style="background-color: #69696c;">
							<div class="card-body">
								<h5 class="card-title">Account settings</h5>
								<p class="card-text">Edit your account details</p>
								<a href="#" class="btn btn-primary"
									style="background-color: #6C6E7A;">Edit</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="shadow p-3 container center">
				<a
					style="margin: 0 auto; text-align: center; font-size: 14; vertical-align: middle; font-weight: 500; padding-bottom: 12px"
					class="btn btn-custom text-shadowbtn">Logout</a>

				<div class="media-collection-sm carousel">

					<div class="carousel-cell list-item z-index-controller"></div>

				</div>


			</div>
		</div>

		</div>


	</header>
</body>
</html>