<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:insert="/fragments/head :: head">

</head>
<body
	style="background-image: url('./img/404/404_night.png'); background-repeat: no-repeat; background-size: fill; background-position: center;">
	<div>
		<div class="container-fluid d-flex flex-column">
			<div class="row flex-fill">
				<div class="col">
					<div class="centered text-center">
						<h1 style="font-size: 16vw; text-align: center"
							class="text-shadow  f0f">404</h1>
						<h2 id="custom_phrase" class="text-shadow"
							style="font-size: 2vw; padding-top: 15px; padding-bottom: 155px">These
							are not the droids you're looking for</h2>
						<a
							style="margin: 0 auto; text-align: center; font-size: 1vw; font-weight: 500; padding-bottom: 12px"
							class="btn btn-custom text-shadowbtn" href="/">Return Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>