<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:insert="../fragments/head :: head">

</head>
<style>
body {
	background-color: #696b6e;
}
</style>
<body>
 <div th:insert="/views/staffprofile :: staffprofile"> </div>
<!--  
<div th:if="${param.Access} == '0'"> <div th:insert="/views/userprofile :: userprofile"></div> </div>

<div th:if="${param.Access} == '1'"> <div th:insert="/views/staffprofile :: Staffprofile"></div> </div>

<div th:if="${param.Access} == '2'"> <div th:insert="/views/adminprofile :: Adminprofile"></div> </div>
-->
</body>
</html>
